.proof-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
}

.proof-image {
    width: 1200px;
    height: 800px;
    object-fit: contain;
}

.no-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}